*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: #2B2D42;
    text-align: center;
 }
#gamename{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    font-size: 50px;
    color: #EDF2F4;
    padding-top: 0px;
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.4vmin;
    border: none;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0px 0px 16px rgb(237, 242, 244, 0.3);
    font-size: 8vmin;
    background-color: white;
    color: #EF233C;
}
.restartbtn{
     background-color: #EF233C;
     height: 8vmin;
    width: 10vmin;
    border-radius: 1rem;
    font-size: 2vmin;
}
.newbtn{
    height: 6vmin;
    width: 12vmin;
    border-radius: 1rem;
    font-size: 2vmin;
    color: #247BA0;
    font-weight: bold;
    background-color: none;
}
.msg{
    font-size: 40px;
    font-weight: bolder;
    color: #EF233C;
}
.hide{
    display: none;
}